<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}"/>
    <link rel="author" content="{{joe.name}}" href="{{joe.twitter.href}}"/>

    <link href="fonts/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <header id="header">
      <div class="header">

      </div>
    </header>

    <div id="content" class="container">

      <div class="row intro">
        <div class="col-md-12">
          <h2 class="text-center title">Noom Data</h2>
          <p class="summary">Hi Noomers. Here at Noom we love data and we wanted to share some of it with you to thank you for all of your hard work. Hopefully visualizing your data will help you stay motivated in your fitness goals! Just enter your access code below to get started.</p>
        </div>
      </div>

      <br>
      
      <div class="row accessCode">
        <div id="getAccessCode" class="col-md-12">
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <div id="sunburst">
          </div>
        </div>

        <div class="col-md-8">
          <div id="lineGraph">
          </div>
        </div>

      </div>

    </div>

    <footer id="footer">
      <div class="footer container text-right">
        <span>Made by <a href="{{joe.twitter.href}}" target="_blank">@jomrcr</a> in New York City</span>
        <a><img src="fonts/logo.png" class="footer-icon-image scroll-to" data-scroll-target="#intro"/></a>
      </div>
    </footer>

    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>